@import url("variableGlobales.css");
@import url("animations.css");

* {
    margin: 0 0;
    padding: 0 0;
    font-family: var(--FontTitulo);
}

html,
html *,
body,
body * {
    cursor: none;
}


body {
    overflow-x: hidden;
}

#content {
    display: none;
    animation: fadeIn 1.5s forwards;
    /* Animación de desvanecerse */
}

/**cursor**/
#cursor {
    display: none;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: visible;
}

.cursor-dot.has-hover,
.cursor-dot-outline.has-hover {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0.3;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: var(--colorAzulRey);
    visibility: visible;
}

.cursor-dot-outline {
    width: 20px;
    height: 20px;
    visibility: visible;
}

.cursor-dot-outline:after {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--colorBlanco3);
    position: absolute;
    content: "";
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/**cursor**/


/**loader**/
#loader-wrapper {
    background-color: var(--colorAzulMarino);
    width: 100%;
    height: 100vh;
    z-index: 100;

}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 2s forwards;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

/**loader**/

/**RECURSOS**/
.size {
    width: 70%;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

.menu-fixed {
    position: fixed;
    z-index: 10;
    top: -1%;
    width: 100%;
    height: 7%;
    background-color: var(--colorAzulRey);
    animation: slideDown 0.3s ease;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
}

/**RECURSOS**/

/**menu**/
.grid>.nav {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    position: absolute;
    top: 0;
    place-self: center;
    padding: 1rem 0;
}

.grid>.nav>.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid>.nav>.menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.grid>.nav>.menu>li>a,
.logo>h3 {
    color: var(--colorBlanco);
}

.menu>li>a {
    text-decoration: none;
}

.menu>li>a:hover {
    text-decoration: none;
    cursor: pointer;
}

/**menu**/

/**intro**/
.intro {
    background-color: var(--colorAzulMarino);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
    /* overflow: hidden; */
}

.intro_container {}

.intro>.intro_grid {
    grid-column: 1/2;
    grid-row: 1/2;

    place-self: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

.intro>.intro_grid>.intro_desc {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: end;
}

.intro>.intro_grid>.intro_desc>h1 {
    font-weight: 700;
    font-size: 5rem;
    color: var(--colorBlanco);
}

.intro_btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--colorAmarillo);
}

.intro_btn:hover {
    background-color: var(--colorAzulRey);
    cursor: pointer;
}

/**intro_carousel**/

.intro>.intro_carousel {
    grid-column: 2/3;
    grid-row: 1/2;
}

#introCarouselControls {
    height: 600px;
    overflow: hidden;
    display: flex;
}

.carousel-inner {
    place-self: end;
}

/**intro_carousel**/

.intro>.intro_wave {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
}

.intro>.intro_wave>svg {
    width: 100%;
}

/**intro**/