:root {
    --colorAzulMarino: #111A2B;
    --colorGrisOscuro: #333C4E;
    --colorAmarillo: #E6B200;
    --colorAzulRey: #4789FC;
    --colorBlanco: #FFFFFF;
    --colorBlanco2: #F4F8FE;
    --colorBlanco3: #EAF2FE;
}